<section class="section">
  <div class="column">
    <h2 class="title">GitHub Search</h2>
  </div>
  <div class="column is-two-fifths">
    <input type="text" class="input" name="userName" [(ngModel)]="userName" (keyup)="searchUser($event)" placeholder="Enter GitHub Username and hit enter..."
    />
  </div>
</section>

<div id="wrapper" *ngIf="user">
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">{{user.name}}</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">{{user.followers}}</p>
        <p class="subtitle">Followers</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">{{user.following}}</p>
        <p class="subtitle">Following</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">{{user.public_repos}}</p>
        <p class="subtitle">Public Repos</p>
      </article>
    </div>
  </div>

  <div class="tile is-ancestor">
    <div class="tile is-vertical is-9">
      <div class="tile">
        <div class="tile is-parent">
          <article class="tile is-child box">
            <figure class="image is-1by1">
              <img src="{{user.avatar_url}}" alt="This should be user avatar...">
            </figure>
          </article>
        </div>
        <div class="tile is-8 is-vertical">
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">{{user.bio}}</p>
              <p class="subtitle">{{user.location}}</p>
              <a href="{{user.html_url}}" class="button is-info" target="new">View Full Profile</a>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br/>
<br/>

<div id="repos" *ngIf="repos">
  <div class="tile is-ancestor">
    <p class="title">Repositories List</p>
  </div>
  <div class="columns" *ngFor="let repo of repos">
    <div class="column is-two-fifths">
      <a href="{{repo.html_url}}" class="subtitle" target="new">{{repo.name}}</a>
    </div>
    <div class="column is-half">
      <p class="subtitle">{{repo.description}}</p>
    </div>
  </div>
</div>
